<% @title = "Track A New Item - Marla Knows" %>

<div class="container">
<h1>Track A New Item</h1>
	<div class="container">
	<%= render 'form', :pin => @pin %>
	</div>
<%= link_to 'Back', pins_path %>
</div>
