<%= render 'pages/home' unless user_signed_in? && current_user.admin?  %>


      <div class="container">
<h1>Editing store</h1>

<%= render 'form' %>

<%= link_to 'Show', @store %> |
<%= link_to 'Back', stores_path %>
</div>
