<div class="jumbotron center" style="background-color:#534741;">
<div class="container">
<div class="pull-right offset-1 text-left" id="intro">
<h2>stop paying full price...</h2>
  <h1 >Track Prices Online</h1>
  <h2>Marla knows when everything is on sale.</h2>
  <h3>Tell her what you like, and she'll email you when it's on sale.</h3>
  <div class="col-md-8" style="padding:20px 0px;">
    <%= link_to "Sign up Now", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  </div>
  </div>
</div>
	<div id="splash"></div>
</div>
