<div class="container">

	<div class="jumbotron center">
		<h1>Meet Marla</h1>

		<div class="row">

			<div class="col-md-8">

			</div>

			<div class="col-md-4">
			<h2>Marla Knows Prices</h2>
			<h3>Marla hasn't paid full price for anything since, like, 1982.</h3>
			<p>When Marla enters a store, she's done her research.  Have you?  Probably not.  At least not like Marla.</p><p>Her gift for tracking prices is a burden that weighs heavily on her, and she recently decided to help you because she simply cannot stand by and watch you spend all that money that you could be saving.</p>
			</div>



		</div>


	</div>

</div>