<div class="container">
<h1 class="text-center">Thank you for your message.</h1>
<p class="text-center">Marla will take a look at your message and will likely tell her son-in-law to figure it out for you within 24 hours.</p>

<p class="text-center">In the meantime, go <%= link_to "track more items", root_path %></p>

</div>