<%= render 'pages/home' unless user_signed_in? %>





  <h1 class="center">Recently Tracked Items</h1>
    
    <div id="products" class="transitions-enabled infinite-scroll clearfix">

        <% @products.each do |product| %>
          <%= render product %>
        <% end %>
      </div>

      <div class="center">
        <%= link_to 'Load More Products', products_path(:page => @products.next_page), :class => 'load-more-products btn btn-default btn-sm', :remote => true if @products.next_page %>
      </div>



  


